@media screen and (max-width: 750px)
    main
        flex-direction: column
        justify-content: flex-start
        width: 730px
        max-width: 100%

    .section1
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0

    .section2
        display: flex
        flex-direction: row
        width: 95%
        height: auto
        border-radius: 0 0 8px 8px
        flex-wrap: wrap

    .estadisticas
        width: 200px
        flex-grow: 1

@media screen and (max-width: 530px)
    main
        margin-top: 20px
    button
        width: 80px
        height: 80px
    .section1
        width: 97%
    .section2
        border-top-right-radius: 0px
        border-top-left-radius: 0px
        width: 97%
    #t-restante
        order: -1

@media screen and (max-width: 400px)
    main
        flex-direction: column-reverse
    .section2
        border-radius: 8px 8px 0 0
    .section1
        padding-bottom: 20px
        border-radius: 0 0 8px 8px
    #t-restante
        order: 3

@media screen and (max-height: 650px)
    main
        margin-top: 20px
    button
        width: 70px
        height: 70px
